.container {
  margin: 1rem;
}
.event_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.event_headers_section {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.live_btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}
.live_active {
  color: var(--green-color);
}
.circle_icon {
  font-size: 0.7rem;
}
.closed_btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}
.closed_active {
  color: #ff7c03;
}
.no_event {
  margin-top: 5rem;
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event_card_section {
  margin: 1rem 0;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}
.event_card {
  border-radius: 0.3rem;
  background-color: #e9f0fc;
  cursor: pointer;
}
.event_heading {
  font-size: 0.9rem;
  text-transform: capitalize;
  padding: 1rem;
}
.event_rfq_section {
  border-top: 1px solid var(--white-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.event_rfq_section h1 {
  font-size: 0.8rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
}
.event_rfq_section p {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.live_counter_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #ffb84f;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 0.5rem;
}
.event_rfq_section_one,
.event_rfq_section_two {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.eye_icon {
  font-size: 1.2rem;
  color: var(--primary-color);
}
