.container {
  margin-top: 2rem;
}
.first_section h1 {
  text-transform: capitalize;
  font-size: 1.1rem;
}
.first_section p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.second_section {
  margin-top: 2rem;
}
.table_main {
  border-collapse: collapse;
  width: 100%;
}
.table_main th {
  font-size: 1rem;
  color: var(--black-color);
  background-color: #eeeeee;
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid var(--black-color);
}
.even_row {
  background-color: #fbfbfb;
}
.odd_row {
  background-color: #eeeeee;
}
.table_main td {
  font-size: 0.9rem;
  padding: 0.5rem;
  text-align: left;
}
.table_main th:nth-child(3),
.table_main th:nth-child(4) {
  text-align: center;
}
.table_main td:nth-child(3),
.table_main td:nth-child(4) {
  text-align: center;
}
.table_main td:nth-child(7) {
  display: flex;
  gap: 1rem;
}
.table_main td:nth-child(8) {
  text-transform: lowercase;
}
.edit_icon {
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--primary-color);
}
.check_icon {
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--green-color);
}
.modal_one_container,
.modal_two_container {
  width: 30rem;
  padding: 1rem;
}
.modal_one_container h1,
.modal_two_container h1 {
  font-size: 1rem;
}
.product_form_section {
  margin: 1rem 0;
  display: grid;
}
.product_form_section label {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.product_type_input {
  font-size: 0.9rem;
  border: 1px solid var(--black-color);
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
.prd_btn_section {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.prd_cancel_button {
  border-radius: 0.3rem;
  border: none;
  background-color: #acacac;
  color: var(--white-color);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}
.prd_add_button {
  border-radius: 0.3rem;
  border: none;
  background-color: #08a65c;
  color: var(--white-color);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}
.modal_display_text {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.purchase_order_section {
  margin-top: 2rem;
}
.purchase_order_section h1 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.download_po_btn {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
