.container {
  margin-top: 2rem;
}
.first_section h1 {
  text-transform: capitalize;
  font-size: 1.1rem;
}
.second_section {
  margin-top: 2rem;
}
.table_main {
  border-collapse: collapse;
  width: 100%;
}
.table_main th {
  font-size: 1rem;
  color: var(--black-color);
  background-color: #eeeeee;
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid var(--black-color);
}
.even_row {
  background-color: #fbfbfb;
}
.odd_row {
  background-color: #eeeeee;
}
.table_main td {
  font-size: 0.9rem;
  padding: 0.5rem;
  text-align: left;
}
.table_main th:nth-child(3),
.table_main th:nth-child(4) {
  text-align: center;
}
.table_main td:nth-child(3),
.table_main td:nth-child(4) {
  text-align: center;
}
.table_main td:nth-child(5) {
  display: flex;
  gap: 1rem;
}
