.container {
  max-height: 100vh;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}
.section_one {
  background: url("../../public/assets/svg/sign_up_bg.svg");
  background-color: var(--bg-color);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}
.header_text {
  color: var(--white-color);
  font-size: 4rem;
}
.header_text span {
  color: #03c3ff;
}
.sub_heading {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--white-color);
}
.rect_icon {
  width: 2rem;
  height: 0.7rem;
  border-radius: 0.6rem;
  background-color: #d9d9d9;
  margin-right: 0.5rem;
}
.section_main ul {
  margin-top: 1rem;
}
.section_main ul li {
  padding: 1rem 0;
  font-size: 1.2rem;
  color: var(--white-color);
  display: flex;
  align-items: center;
  list-style-type: none;
}
.section_two {
  width: 40%;
  background-color: var(--white-color);
}
.section_inputs {
  padding: 8rem 5rem 3rem 5rem;
}
.form_input {
  padding: 0.7rem 0;
  margin-bottom: 2rem;
  font-size: 1rem;
  outline: none;
  width: 100%;
  border: none;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  border-bottom: 0.12rem solid var(--black-color);
}
.form_input::placeholder,
.sec_input::placeholder {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
.input_section {
  display: flex;
  align-items: center;
  border-bottom: 0.12rem solid var(--black-color);
}
.sec_input {
  padding: 0.7rem 0;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  width: 100%;
  border: none;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
.error_message_container {
  padding-top: 1rem;
}
.error_message {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--red-color);
}
.button_container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.submit_button {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
  width: 13rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 1.5rem;
  height: 3rem;
}
.login_container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.login_container p {
  font-size: 0.8rem;
}
.login_link {
  text-decoration: none;
  font-weight: 600;
  color: #6aa4eb;
}
